<!-- inheritance from base.html -->
{% extends "base.html" %} 

{% block title %}Boarding (Admin){% endblock %}

{% block content %}
<h1 align="center">Boarding Schedule</h1>

<div class="admin-button" style="display:flex;justify-content:flex-end;"> 

    <a class="nav-item nav-link" id="add-user" href="/admin-addUser">
        <button type="submit" class="btn btn-primary">Add User</button>
    </a>

    <a class="nav-item nav-link" id="add-pet" href="/admin-addPet">
        <button type="submit" class="btn btn-primary">Add Pet</button>
    </a>


    <a class="nav-item nav-link" id="board" href="/admin-board">
        <button type="submit" class="btn btn-primary">Board</button>
    </a>


    
    
</div>

<div id="calendar">
    <script>
        function deleteAppointment(apptID){
        fetch("\delete-appointment", {
            method: "POST",
            body: JSON.stringify({ apptID: apptID}),

        }).then((_res) => {
            window.location.href = "/admin"
        });
        }

    

        let calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
            dayMaxEvents: 3,
            events: [
            {% for event in events %}
                {   
                    id: '{{event.app_id}}',
                    title: 'Name: {{event.name}}, Id: {{event.pet_id}}',
                    start: '{{event.date}}'
                },
                {% endfor %}
            ],
            
            eventClick: function(info) {
                var conf = confirm("Are you sure you want to delete this appointment?");

                if (conf){
                    deleteAppointment(info.event.id);
                }
                
    }
        })
        calendar.render();


        
    </script>
    

</div>
{% endblock %}

<!-- add events to each day that shows how many animals are boarded, when clicked on brings up another page that s
shows the animals, owners, vaccinations, everything-->

<!--need to add delete appointment ability
        -->

<!-- add search bar at the top that allows them to search for users info in the database and dog info-->

<!-- add an add animal functionality-->

<!--send email or text when appointment is created/canceled-->